* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  /* background-color: #100F0F; */
}

.page-heading {
  position: relative;
  display: inline;
}

.navigation-bar {
  /* background-color: #247881; */
  /*  #E4F9F5*/
  height: 3.625rem;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.bar-container {
  /* background-color: #247881; */
  height: 3.4375rem;
  width: 80%;
  position: absolute;
  margin: 0.2rem 0 0.3125rem 10.5rem;
}

.logo {
  background-color: white;
  height: 3.2rem;
  width: 3.3rem;
  border-radius: 100%;
  position: absolute;
  left: 3rem;
}

.link-list {
  float: right;
  line-height: 1.5625rem;
  margin-right: 1.875rem;
}

.links {
  color: #1e836c;
  font-weight: 600;
  font-family: 'Julius Sans One', sans-serif;
}

.list {
  color: #3FA796;
  display: inline-block;
  margin: 0.9375rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
}
/* For dark mode */
/* .back-mode {
  display: inline-block;
  height: 3rem;
  width: 3.1rem;
  border-radius: 100%;
  position: absolute;
  right: 2rem;
} */

.profile {
  height: 10.9375rem;
  margin: 2.5rem auto 0.625rem auto;
}

.title {
  margin: 0;
  font-family: 'Satisfy', cursive;
  font-size: 4.4rem;
  color: #3FA796;
  font-weight: lighter;
}

.detail {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  color: #3FA796;
  font-size: 1.25rem;
  font-weight: lighter;
  margin: 0;
}

h2 {
  /*
  069A8E
  247881
   */
  margin: 1.875rem auto 0.625rem auto;
  color: #1e836c;
}

h3 {
  color: #3FA796;
  margin: 0.5rem;
}

p {
  /* color: white; */
  color: #545454;
  font-size: 0.9375rem;
  font-family: 'Merriweather', serif;
  text-indent: 3mm;
}

hr {
  /* colors:
  A5C9CA
  e0ebe8
  */
  color: #e0ebe8;
  border-style: dotted none none none;
  width: 5%;
  border-width: 0.3125rem;
  margin: 6.25rem auto;
}

.web {
  text-decoration: underline;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 11.5rem;
}

.top-cloud {
  position: absolute;
  bottom: 0;
  top: 9.375rem;
  right: 18.75rem;
}

.bottom-cloud {
  position: absolute;
  bottom: 21.875rem;
  left: 18.75rem;
}

.icons {
  height: 15.625rem;
}

.contacting {
  position: relative;
  width: 37.5rem;
  margin: 0.625rem auto;
  padding: 0.3125rem;
  padding-bottom: 6.25rem;
}

.help {
  position: relative;
  padding: 0.625rem;
  padding-bottom: 3.125rem;
  font-size: 2rem;
  font-weight: normal;
}

.button {
  position: relative;
  top: 2rem;
}

.message-button {
  display: inline-block;
  background-color: #1e836c;
  /* background-color: #3FA796; */
  /* color: #1b7f69; */
  height: 3.1rem;
  width: 11.8rem;
  border-radius: 0.2rem;
  position: relative;
}

.message-icon {
  display: inline-block;
  height: 1.45rem;
  width: 1.7rem;
  position: absolute;
  left: 1.2rem;
  top: 0.8rem;
}

.message-me {
  display: inline-block;
  color: #1B1A17;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  left: 0.975rem;
}

.bottom-container {
  display: inline-block;
  background-color: #E4F9F5;
  height: 10rem;
  width: 100%;
  margin-top: 2rem;
  position: relative;
  top: 1rem;
}

.bottom-links {
  display: inline-block;
  color: #1e836c;
  line-height: 25px;
}

.bottom-list {
  display: inline-block;
  margin: 0.9375rem 1.25rem;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.end-rights {
  font-family: serif;
  color: #1e836c;
}

.main-background {
  /* background-color: black; */
  background-color: #E4F9F5;
}
